a {text-decoration: none;}
ul {padding-left: 0;}
li {list-style: none;}
* {box-sizing: border-box;}
::selection {background-color: #EBEBF2; color: #83828D;}

/* ==================================== */
/*		  	  Navigaton Menu
/* ==================================== */

.menu-wrap {background-color: #4291a8; position: fixed; top: 0;
	          height: 100%; width: 280px; margin-left: -280px;
	          font-size: 1em; font-weight: 300; overflow: auto;
	          transition: .25s; z-index: 10;}

.menu-show {margin-left: 0;}
.menu-sidebar {margin: 75px 0 80px 10px; position: relative; top: 70px;}
.menu-sidebar li {padding: 18px 22px 0;}
.menu-sidebar li > a {font-family: Helvetica; letter-spacing: 1px; color: #f2ebee; font-size: 1.18em; position: relative;}
.menu-sidebar li > a::after {content: ""; display: block; height: 0.15em;
                             position: absolute; top: 100%; width: 100%; left: 50%;
	                           transform: translate(-50%);
	                           background-image: linear-gradient(to right, transparent 50.3%, #f2a4c2 50.3%);
	                           transition: background-position .2s .1s ease-out;
	                           background-size: 200% auto;}
.menu-sidebar li > a:hover::after {background-position: -100% 0;}
.menu-sidebar .menu-item-has-children {position: relative;}
.menu-sidebar .menu-item-has-children .sub-menu {display: none;}
.sidebar-menu-arrow::after {content: "\f107"; font-family: 'Helvetica'; padding: 10px;
                            color: #f2a4c2; position: relative;}
.sidebar-menu-arrow:hover::after {cursor: pointer; color: #fff;}
.sidebar-menu-arrow:active::after {top: 2px;}

/*Hamburger Button*/
.toggle-button {
	position: fixed;
	width: 40px;
	height: 40px;
	top: 50px;
	left: 40px;
	padding: 4px;
	transition: .25s;
	z-index: 15;
}
.toggle-button:hover {
	cursor: pointer;
}
.toggle-button .menu-bar {
	position: absolute;
	border-radius: 2px;
	width: 80%;
	transition: .5s;
}
.toggle-button .menu-bar-top {
	border: 4px solid #555;
	border-bottom: none;
	top: 0;
}
.toggle-button .menu-bar-middle {
	height: 4px;
	background-color: #555;
	margin-top: 7px;
	margin-bottom: 7px;
	top: 4px;
}
.toggle-button .menu-bar-bottom {
	border: 4px solid #555;
	border-top: none;
	top: 22px;
}
.button-open {
	left: 25px;
}
.button-open .menu-bar-top {
	border-color: #fff;
	transform: rotate(45deg) translate(8px, 8px);
	transition: .5s;
}
.button-open .menu-bar-middle {
	background-color: #fff;
	transform: translate(230px);
	transition: .1s ease-in;
	opacity: 0;
}
.button-open .menu-bar-bottom {
	border-color: #fff;
	transform: rotate(-45deg) translate(7px, -7px);
	transition: .5s;
}


/* Text Block */
.wrapper {
	width: 40%;
	margin: 100px auto 0;
	color: #83828D;
}
.wrapper .text {
	padding: 30px;
}
.wrapper .text .heading {
	margin-bottom: 40px;
	font-size: 2em;
}
.wrapper .text p {
	line-height: 1.6em;
}
.wrapper .text .buttons {
	margin-top: 40px;
}
